<!DOCTYPE html>
<html>
<head>
  <title>KBC Paypage</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
$$$PAYMENT ZONE$$$
</body>
</html>
